[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asyncpg = "*"
bs4 = "*"
"discord.py" = {ref = "efdda63", git = "https://github.com/Rapptz/discord.py"}
jishaku = "*"
pyyaml = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.10"

[scripts]
start = "python bot.py"
