[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = {editable = true, git = "https://github.com/Herbstblatt/discord.py"}
jishaku = "*"
pyyaml = "*"
psycopg2-binary = "*"
asyncpg = "*"
bs4 = "*"

[dev-packages]

[requires]
python_version = "3.8"

[scripts]
start = "python bot.py"
